form
  input[type=text], input[type=password]
    font-family: $proxima-nova

form
  +clearfix
  .field
    +clearfix
    margin-bottom: $standard-gap/2
    &.text-editor
      overflow: visible
  span.align
    line-height: 30px
    font-size: 12px
    vertical-align: middle
    visibility: hidden
  .actions
    margin-left: 160px
    a
      font-size: 13px
      margin-left: 10px
      +hover-link
  .actions.flush
    margin-left: 0
  label
    font-size: 13px
    float: left
    width: 160px
    display: block
    font-weight: 400
    line-height: 28px
  label.blank
    text-indent: -9999px
    font-size: 14px
    line-height: normal
  label.inline
    font-size: 13px
    width: auto
    float: none
    display: inline
    line-height: normal
    vertical-align: middle
  input[type=text], input[type=password], textarea
    border: 1px solid $color-2
    +border-radius(4px)
    +box-shadow(rgba($color-2, 0.3) 0 2px 2px inset)
    height: 16px
    line-height: 16px
    padding: 5px
    color: $color-1
    min-width: 400px
    font-size: 13px
    outline: 0
    margin: 0
    display: block
    background: none
  input[type=checkbox], input[type=radio]
    margin: 0 3px 0 0
    padding: 0
    vertical-align: middle
  textarea
    height: 48px
  textarea.tall
    height: 300px
  #errorExplanation ul
    margin: $standard-gap/2 0 $standard-gap/2 0
    li
      font-size: 12px
      list-style: disc inside
      line-height: 18px
      color: red

form.edit_child
  width: 60%
