=image-dimensions($path)
  height: image-height($path)
  width: image-width($path)

=background-image-with-dimension($path)
  background: image-url($path)
  background-repeat: no-repeat
  +image-dimensions($path)
