/* line 6, ../../../app/stylesheets/non_ios.sass */
ul.squares li.child-container h3 {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('/../../public/control_center/xml/ellipsis.xml#ellipsis');
}
/* line 9, ../../../app/stylesheets/non_ios.sass */
ul.squares li.child-container p.date {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('/../../public/control_center/xml/ellipsis.xml#ellipsis');
}

/* line 14, ../../../app/stylesheets/non_ios.sass */
#article-top h2 {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('/../../public/control_center/xml/ellipsis.xml#ellipsis');
}
