- content_for :head_javascripts do
  = javascript_include_tag "/concen/javascripts/status.js"

#content
  .panels
    .panel.pages
      .border
        %h3 Pages
        %p.big-number
    .panel.users
      .border
        %h3 Users
        %p.big-number
    .panel.server.edge
      .border
        %h3 Server
        %ul
    .clear
