html
  overflow-y: scroll
  background: white

body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  line-height: 1.25
  color: $color-1
  min-width: 820px
  // Improved handling of kerning pairs and ligatures.
  text-rendering: optimizeLegibility
  -webkit-text-size-adjust: none
  
h1, h2, h3
  font-weight: bold
  
h1
  font-size: 20px

h2
  font-size: 18px
  
h3
  font-size: 16px

p, ul, ol, li
  font-size: 14px

a
  +link-colors($color-1, $color-1, $color-1, $color-1, $color-1)
  text-decoration: underline
  
strong
  font-weight: bold
  
a.link-button
  font-size: 13px
  +hover-link
  +inline-block
  border: 1px solid lighten(#000, 60%)
  padding: 4px 10px
  font-weight: 500
  width: auto
  min-width: 80px
  max-width: 140px

a.link-button:hover
  background: lighten(#000, 94%)
  text-decoration: none
  
img.visit-recorder
  position: absolute
  top: 0
  left: 0
  
.shadow
  overflow: hidden
  div.border
    border: 1px solid $color-2
    margin-right: 4px
    margin-bottom: 4px
    &.has-image
      padding: 2px
  position: relative
  img
    width: 100%
    margin: 0

div.shadow-right
  width: $shadow-size
  height: 100%
  background: $color-3
  position: absolute
  top: 4px
  right: 0
  div.corner
    background: url("/control_center/images/shadow-corner-right.png")
    width: 4px
    height: 4px
    position: absolute
    top: -4px
    left: 0

div.shadow-bottom
  width: 100%
  height: $shadow-size
  background: $color-3
  position: absolute
  bottom: 0
  left: 4px
  div.corner
    background: url("/control_center/images/shadow-corner-bottom.png")
    width: 4px
    height: 4px
    position: absolute
    top: 0px
    left: -4px
  
.clearfix
  +clearfix
  
.center
  text-align: center

.upcase
  text-transform: uppercase

.center
  text-align: center

.clearfix
  +clearfix

.clear
  clear: both

.hidden
  display: none
  visibility: hidden

.cursor-move
  cursor: move
