form
  input[type=text], input[type=password]
    font-family: $proxima-nova

form
  +clearfix
  .field
    +clearfix
    margin-bottom: $standard-gap/2
  span.align
    line-height: 30px
    font-size: 12px
    vertical-align: middle
    visibility: hidden
  .actions
    margin-left: 160px
    a
      font-size: 13px
      margin-left: 10px
      +hover-link
  .actions.flush
    margin-left: 0
  label
    font-size: 13px
    float: left
    width: 160px
    display: block
    font-weight: 400
    line-height: 34px
  label.blank
    text-indent: -9999px
    font-size: 14px
    line-height: normal
  label.inline
    font-size: 13px
    width: auto
    float: none
    display: inline
    line-height: normal
    vertical-align: middle
  .thick-border
    +inline-block
    &.text-editor
      display: block
    .border
      +thick-border-shadow(top)
  input[type=text], input[type=password], textarea
    border: 0
    height: 16px
    line-height: 16px
    padding: 5px
    color: $color-1
    min-width: 400px
    font-size: 13px
    outline: 0
    margin: 0
    display: block
    background: none
  input[type=checkbox], input[type=radio]
    margin: 0 3px 0 0
    padding: 0
    vertical-align: middle
  textarea
    height: 48px
  textarea.tall
    height: 300px
  #errorExplanation ul
    margin: 10px 0 16px 12px
    li
      font-size: 12px
      list-style-position: inside
      line-height: 18px
      color: #f12d40

form.edit_child
  width: 60%
