form
  +clearfix
  .field
    +clearfix
    margin-bottom: 16px
  span.align
    line-height: 30px
    font-size: 12px
    vertical-align: middle
    visibility: hidden
  .actions
    margin-left: 120px
    a
      font-size: 13px
      margin-left: 10px
      +typekit-font("proxima-nova")
      +hover-link
  .actions.flush
    margin-left: 0
  label
    font-size: 13px
    float: left
    width: 120px
    display: block
    font-weight: 400
    line-height: 27px
  label.blank
    text-indent: -9999px
    font-size: 14px
    line-height: normal
  label.inline
    font-size: 13px
    width: auto
    float: none
    display: inline
    line-height: normal
    vertical-align: middle
  input[type=text], input[type=password], textarea
    border: 1px solid lighten(#000, 70%)
    height: 15px
    padding: 5px 6px
    color: $color-1
    min-width: 400px
    font-size: 13px
    line-height: normal
    +typekit-font("proxima-nova")
  input[type=checkbox], input[type=radio]
    margin: 0 3px 0 0
    padding: 0
    vertical-align: middle
  input[type=text]:focus, input[type=password]:focus, textarea:focus
    outline: 0
    border: 1px solid lighten(#000, 40%)
  textarea
    height: 48px
  textarea.tall
    height: 300px
  #errorExplanation ul
    margin: 10px 0 16px 12px
    li
      font-size: 12px
      list-style-position: inside
      line-height: 18px
      color: #f12d40
      +typekit-font("proxima-nova")
    h3
      +typekit-font("proxima-nova")
        
form.edit_child
  width: 60%