// Colors.

$color-1: hsl(240deg, 60%, 18%) // #121249
$color-2: hsl(240deg, 20%, 60%) // #E0E0EB
$color-3: hsl(240deg, 20%, 90%)
$color-4: hsl(240deg, 20%, 96%)
$gray-20: lighten(black, 20%)
$gray-60: lighten(black, 60%)
$gray-80: lighten(black, 80%)

$gray-20: hsl(0deg, 0%, 20%)
$gray-60: hsl(0deg, 0%, 60%)
$gray-80: hsl(0deg, 0%, 80%)
$gray-90: hsl(0deg, 0%, 90%)

$shadow-size: 4px

$proxima-nova: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif

$proxima-nova-extra-condensed: "proxima-nova-extra-condensed-1", "proxima-nova-extra-condensed-2", "Helvetica Neue", Helvetica, Arial, sans-serif

$standard-gap: 30px