- content_for :head_javascripts do
  = javascript_include_tag "/control_center/javascripts/status.js"

#content
  .panels.clearfix
    .panel.pages
      .thick-border
        .border
          %h3 Pages
          %p.big-number
    .panel.users
      .thick-border
        .border
          %h3 Users
          %p.big-number
    .panel.server.edge
      .thick-border
        .border
          %h3 Server
          %ul
