#content
  %h1 Edit User Settings
  .clearfix
    - if params[:invitation_token] || params[:concen_user][:invitation_token]
      = render "form"
    - elsif params[:password_reset_token] || params[:concen_user][:invitation_token]
      = render "password_reset"
    - else
      = render "settings"
