#content
  %h1 Edit Page
  = render "form"
  #file-manager
    .border
      #file-uploader{:data => {"upload-path" => upload_concen_page_grid_files_path(@page)}}
        %noscript
          %p Please enable JavaScript to use file uploader.
      = render "files"
  .clear
