- content_for :head_javascripts do
  = javascript_include_tag "concen/page"

#content
  %h1
    = one_line do
      %span Pages
      - unless @page
        = link_to "New Page", new_concen_page_path(:level => 0), :class => "link-button"

  - if @page
    = render :partial => "nested_list", :locals => {:page => @page, :root => true}
