- content_for :head_javascripts do
  = javascript_include_tag "/concen/javascripts/page.js"

#content
  - if @page
    = render :partial => "nested_list", :locals => {:page => @page, :root => true}
  - else
    = link_to "New Page", new_concen_page_path(:level => 0)