- content_for :head_javascripts do
  = javascript_include_tag "concen/ace/ace"
  = javascript_include_tag "concen/fileuploader"
  = javascript_include_tag "concen/page"

#content
  %h1 New Page
  .clearfix
    = render "form"
