- content_for :head_javascripts do
  = javascript_include_tag "/concen/javascripts/ace/ace.js"
  = javascript_include_tag "/concen/javascripts/fileuploader.js"
  = javascript_include_tag "/concen/javascripts/page.js"

#content
  %h1 New Page
  .clearfix
    = render "form"
