/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../../app/stylesheets/partials/_base.sass */
html {
  overflow-y: scroll;
  background: white;
}

/* line 5, ../../../app/stylesheets/partials/_base.sass */
body {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25;
  color: #141f52;
  min-width: 820px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
}

/* line 13, ../../../app/stylesheets/partials/_base.sass */
h1, h2, h3 {
  font-weight: bold;
}

/* line 16, ../../../app/stylesheets/partials/_base.sass */
h1 {
  font-size: 20px;
}

/* line 19, ../../../app/stylesheets/partials/_base.sass */
h2 {
  font-size: 18px;
}

/* line 22, ../../../app/stylesheets/partials/_base.sass */
h3 {
  font-size: 16px;
}

/* line 25, ../../../app/stylesheets/partials/_base.sass */
p, ul, ol, li {
  font-size: 14px;
}

/* line 28, ../../../app/stylesheets/partials/_base.sass */
a {
  color: #141f52;
  text-decoration: underline;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #141f52;
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #141f52;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #141f52;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #141f52;
}

/* line 32, ../../../app/stylesheets/partials/_base.sass */
strong {
  font-weight: bold;
}

/* line 35, ../../../app/stylesheets/partials/_base.sass */
a.link-button {
  font-size: 13px;
  text-decoration: none;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  border: 1px solid #999999;
  padding: 4px 10px;
  font-weight: 500;
  width: auto;
  min-width: 80px;
  max-width: 140px;
}
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a.link-button:hover {
  text-decoration: underline;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
a.link-button {
  *display: inline;
}

/* line 46, ../../../app/stylesheets/partials/_base.sass */
a.link-button:hover {
  background: #f0f0f0;
  text-decoration: none;
}

/* line 50, ../../../app/stylesheets/partials/_base.sass */
img.visit-recorder {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 55, ../../../app/stylesheets/partials/_base.sass */
.thick-border {
  position: relative;
  padding: 3px;
  background: #edeef3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 60, ../../../app/stylesheets/partials/_base.sass */
.thick-border .border {
  border: 1px solid #858bad;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: white;
  position: relative;
}
/* line 65, ../../../app/stylesheets/partials/_base.sass */
.thick-border .border.with-padding {
  padding: 2px;
}

/* line 69, ../../../app/stylesheets/partials/_base.sass */
a.thick-border .border {
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 1px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 1px inset;
}
/* line 71, ../../../app/stylesheets/partials/_base.sass */
a.thick-border:active .border {
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px inset;
}

/* line 74, ../../../app/stylesheets/partials/_base.sass */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 77, ../../../app/stylesheets/partials/_base.sass */
.center {
  text-align: center;
}

/* line 80, ../../../app/stylesheets/partials/_base.sass */
.upcase {
  text-transform: uppercase;
}

/* line 83, ../../../app/stylesheets/partials/_base.sass */
.center {
  text-align: center;
}

/* line 86, ../../../app/stylesheets/partials/_base.sass */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 89, ../../../app/stylesheets/partials/_base.sass */
.clear {
  clear: both;
}

/* line 92, ../../../app/stylesheets/partials/_base.sass */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 96, ../../../app/stylesheets/partials/_base.sass */
.cursor-move {
  cursor: move;
}

/* line 2, ../../../app/stylesheets/partials/_form.sass */
form input[type=text], form input[type=password] {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 5, ../../../app/stylesheets/partials/_form.sass */
form {
  overflow: hidden;
  *zoom: 1;
}
/* line 7, ../../../app/stylesheets/partials/_form.sass */
form .field {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 16px;
}
/* line 10, ../../../app/stylesheets/partials/_form.sass */
form span.align {
  line-height: 30px;
  font-size: 12px;
  vertical-align: middle;
  visibility: hidden;
}
/* line 15, ../../../app/stylesheets/partials/_form.sass */
form .actions {
  margin-left: 120px;
}
/* line 17, ../../../app/stylesheets/partials/_form.sass */
form .actions a {
  font-size: 13px;
  margin-left: 10px;
  text-decoration: none;
}
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
form .actions a:hover {
  text-decoration: underline;
}
/* line 21, ../../../app/stylesheets/partials/_form.sass */
form .actions.flush {
  margin-left: 0;
}
/* line 23, ../../../app/stylesheets/partials/_form.sass */
form label {
  font-size: 13px;
  float: left;
  width: 120px;
  display: block;
  font-weight: 400;
  line-height: 27px;
}
/* line 30, ../../../app/stylesheets/partials/_form.sass */
form label.blank {
  text-indent: -9999px;
  font-size: 14px;
  line-height: normal;
}
/* line 34, ../../../app/stylesheets/partials/_form.sass */
form label.inline {
  font-size: 13px;
  width: auto;
  float: none;
  display: inline;
  line-height: normal;
  vertical-align: middle;
}
/* line 41, ../../../app/stylesheets/partials/_form.sass */
form input[type=text], form input[type=password], form textarea {
  border: 1px solid #b3b3b3;
  height: 15px;
  padding: 5px 6px;
  color: #141f52;
  min-width: 400px;
  font-size: 13px;
  line-height: normal;
}
/* line 49, ../../../app/stylesheets/partials/_form.sass */
form input[type=checkbox], form input[type=radio] {
  margin: 0 3px 0 0;
  padding: 0;
  vertical-align: middle;
}
/* line 53, ../../../app/stylesheets/partials/_form.sass */
form input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
  outline: 0;
  border: 1px solid #666666;
}
/* line 56, ../../../app/stylesheets/partials/_form.sass */
form textarea {
  height: 48px;
}
/* line 58, ../../../app/stylesheets/partials/_form.sass */
form textarea.tall {
  height: 300px;
}
/* line 60, ../../../app/stylesheets/partials/_form.sass */
form #errorExplanation ul {
  margin: 10px 0 16px 12px;
}
/* line 62, ../../../app/stylesheets/partials/_form.sass */
form #errorExplanation ul li {
  font-size: 12px;
  list-style-position: inside;
  line-height: 18px;
  color: #f12d40;
}

/* line 68, ../../../app/stylesheets/partials/_form.sass */
form.edit_child {
  width: 60%;
}

/* line 1, ../../../app/stylesheets/partials/_fileuploader.sass */
.qq-uploader {
  position: relative;
}

/* line 4, ../../../app/stylesheets/partials/_fileuploader.sass */
.qq-upload-button {
  display: block;
  color: #141f52;
  border: 1px solid #858bad;
  text-align: center;
  padding: 10px 0;
  height: 20px;
  line-height: 20px;
  font-weight: 600;
  font-size: 16px;
}

/* line 17, ../../../app/stylesheets/partials/_fileuploader.sass */
.qq-upload-button-focus {
  outline: 1px dotted black;
}

/* line 20, ../../../app/stylesheets/partials/_fileuploader.sass */
.qq-upload-drop-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  padding: 10px 0;
  border: 1px solid #858bad;
  background: white;
  z-index: 2;
  text-align: center;
}
/* line 31, ../../../app/stylesheets/partials/_fileuploader.sass */
.qq-upload-drop-area span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  padding: 10px 0;
  font-size: 13px;
  text-align: center;
}

/* line 43, ../../../app/stylesheets/partials/_fileuploader.sass */
.qq-upload-drop-area-active {
  background: #f3f3f7;
}

/* line 46, ../../../app/stylesheets/partials/_fileuploader.sass */
.qq-upload-list {
  padding: 0;
  list-style: disc;
  list-style-position: outside;
}
/* line 50, ../../../app/stylesheets/partials/_fileuploader.sass */
.qq-upload-list li {
  margin-top: 10px;
  padding: 0;
  line-height: 15px;
  font-size: 12px;
}

/* line 56, ../../../app/stylesheets/partials/_fileuploader.sass */
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
  margin-right: 7px;
}

/* line 61, ../../../app/stylesheets/partials/_fileuploader.sass */
.qq-upload-spinner {
  display: inline-block;
  background: url("/control_center/images/fileuploader-loading.gif");
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
}

/* line 68, ../../../app/stylesheets/partials/_fileuploader.sass */
.qq-upload-size, .qq-upload-cancel {
  font-size: 11px;
}

/* line 71, ../../../app/stylesheets/partials/_fileuploader.sass */
.qq-upload-failed-text {
  display: none;
}

/* line 74, ../../../app/stylesheets/partials/_fileuploader.sass */
.qq-upload-fail .qq-upload-failed-text {
  display: inline;
}

@media print {
  /* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  body {
    line-height: 1.5;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: black;
    background: none;
    font-size: 10pt;
  }

  /* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  .container {
    background: none;
  }

  /* line 47, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  hr {
    background: #cccccc;
    color: #cccccc;
    width: 100%;
    height: 2px;
    margin: 2em 0;
    padding: 0;
    border: none;
  }
  /* line 55, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  hr.space {
    background: white;
    color: white;
  }

  /* line 58, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

  /* line 60, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  code {
    font-size: 0.9em;
    font-family: "andale mono", "lucida console", monospace;
  }

  /* line 65, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  a img {
    border: none;
  }
  /* line 68, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  a:link, a:visited {
    background: transparent;
    font-weight: 700;
    text-decoration: underline;
  }

  /* line 72, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  p img.top {
    margin-top: 0;
  }

  /* line 74, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  blockquote {
    margin: 1.5em;
    padding: 1em;
    font-style: italic;
    font-size: 0.9em;
  }

  /* line 79, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  .small {
    font-size: 0.9em;
  }

  /* line 81, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  .large {
    font-size: 1.1em;
  }

  /* line 83, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  .quiet {
    color: #999999;
  }

  /* line 85, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  .hide {
    display: none;
  }
}
/* line 14, ../../../app/stylesheets/application.sass */
body.controlcenter {
  min-width: 960px;
  padding: 30px;
}
/* line 17, ../../../app/stylesheets/application.sass */
body.controlcenter header, body.controlcenter #content, body.controlcenter footer {
  width: 100%;
}

/* line 22, ../../../app/stylesheets/application.sass */
header {
  display: block;
  border-bottom: 1px solid #858bad;
  margin: 0 auto;
  position: relative;
}
/* line 27, ../../../app/stylesheets/application.sass */
header h1 {
  height: 25px;
  line-height: 25px;
  padding-bottom: 15px;
  font-size: 24px;
}
/* line 32, ../../../app/stylesheets/application.sass */
.wf-active header h1 {
  font-weight: 600;
}
/* line 34, ../../../app/stylesheets/application.sass */
header h1 a {
  display: block;
  border-bottom: 0;
  overflow: hidden;
  *zoom: 1;
  text-decoration: none;
}
/* line 39, ../../../app/stylesheets/application.sass */
header h1 span {
  float: left;
}
/* line 41, ../../../app/stylesheets/application.sass */
header h1 span.application-name {
  margin-left: 14px;
  font-weight: 400;
}
/* line 44, ../../../app/stylesheets/application.sass */
.wf-active header h1 span.application-name {
  font-weight: 300;
}
/* line 46, ../../../app/stylesheets/application.sass */
header h1 img {
  display: block;
}
/* line 49, ../../../app/stylesheets/application.sass */
header nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  font-size: 13px;
  overflow: visible;
  position: absolute;
  top: 4px;
}
/* line 60, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 48, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li:first-child, header nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li.last {
  padding-right: 0;
}
/* line 55, ../../../app/stylesheets/application.sass */
header nav ul li a {
  line-height: 17px;
  text-decoration: none;
}
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p290@control_center/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
header nav ul li a:hover {
  text-decoration: underline;
}
/* line 58, ../../../app/stylesheets/application.sass */
header nav ul.left {
  left: 0;
}
/* line 60, ../../../app/stylesheets/application.sass */
header nav ul.right {
  right: 0;
}
/* line 62, ../../../app/stylesheets/application.sass */
header form {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 66, ../../../app/stylesheets/application.sass */
header input#keyword {
  font-size: 12px;
  line-height: 15px;
  background: url('/../../public/control_center/images/magnifying-glass.png?1292674399');
  background-repeat: no-repeat;
  height: 13px;
  width: 13px;
  background-position: 6px 5px;
  border: 1px solid #b3b3b3;
  outline: none;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  -o-border-radius: 60px;
  -ms-border-radius: 60px;
  -khtml-border-radius: 60px;
  border-radius: 60px;
  -webkit-appearance: none;
  min-width: 120px;
  width: 120px;
  height: 15px;
  padding: 4px 12px 4px 24px;
  color: #999999;
}
/* line 80, ../../../app/stylesheets/application.sass */
header input#keyword:focus {
  color: #333333;
}

/* line 85, ../../../app/stylesheets/application.sass */
#content {
  margin: 30px auto 0 auto;
  text-align: left;
}
/* line 88, ../../../app/stylesheets/application.sass */
#content h1 {
  margin-bottom: 30px;
}
/* line 90, ../../../app/stylesheets/application.sass */
.wf-active #content h1 {
  font-weight: 600;
}
/* line 92, ../../../app/stylesheets/application.sass */
#content div.parent-header {
  height: 24px;
  width: 100%;
  position: relative;
}
/* line 96, ../../../app/stylesheets/application.sass */
#content div.parent-header h2 {
  line-height: 24px;
  display: inline;
  margin-bottom: 0;
}
/* line 100, ../../../app/stylesheets/application.sass */
#content div.parent-header p.description {
  font-size: 12px;
  display: inline;
  margin-left: 6px;
  color: #999999;
}
/* line 105, ../../../app/stylesheets/application.sass */
#content div.parent-header p.counter {
  font-style: italic;
  font-size: 18px;
  line-height: 24px;
  float: right;
}

/* line 111, ../../../app/stylesheets/application.sass */
ul.pages {
  margin-left: 0;
  font-size: 14px;
}
/* line 114, ../../../app/stylesheets/application.sass */
ul.pages p, ul.pages ul p {
  margin-bottom: 10px;
}
/* line 116, ../../../app/stylesheets/application.sass */
ul.pages a, ul.pages ul a {
  font-size: 12px;
  margin-left: 10px;
}
/* line 119, ../../../app/stylesheets/application.sass */
ul.pages ul {
  margin-left: 20px;
}

/* line 122, ../../../app/stylesheets/application.sass */
section#article {
  width: 774px;
}

/* line 125, ../../../app/stylesheets/application.sass */
.boxshadow ul.search-result {
  padding-bottom: 0;
}
/* line 127, ../../../app/stylesheets/application.sass */
.boxshadow ul.search-result li.child {
  margin-top: 0;
  margin-bottom: 30px;
}
/* line 130, ../../../app/stylesheets/application.sass */
.boxshadow ul.search-result div.text {
  margin-top: 0;
}

/* line 135, ../../../app/stylesheets/application.sass */
footer {
  color: #141f52;
  margin: 30px auto 0 auto;
  width: 760px;
  display: block;
  font-size: 12px;
  border-top: 1px solid #858bad;
}
/* line 142, ../../../app/stylesheets/application.sass */
footer p {
  text-align: center;
  margin: 15px 0 0 0;
  font-size: 12px;
}

/* line 149, ../../../app/stylesheets/application.sass */
a.prev {
  background: url('/../../public/control_center/images/button-prev.png?1292674399');
  background-repeat: no-repeat;
  height: 26px;
  width: 26px;
  text-indent: -9999px;
  display: block;
}

/* line 154, ../../../app/stylesheets/application.sass */
a.prev.disabled {
  background: url('/../../public/control_center/images/button-prev-disabled.png?1292674399');
  background-repeat: no-repeat;
  height: 26px;
  width: 26px;
}

/* line 157, ../../../app/stylesheets/application.sass */
a.next {
  background: url('/../../public/control_center/images/button-next.png?1292674399');
  background-repeat: no-repeat;
  height: 26px;
  width: 26px;
  text-indent: -9999px;
  display: block;
}

/* line 162, ../../../app/stylesheets/application.sass */
a.next.disabled {
  background: url('/../../public/control_center/images/button-next-disabled.png?1292674399');
  background-repeat: no-repeat;
  height: 26px;
  width: 26px;
}

/* line 165, ../../../app/stylesheets/application.sass */
a.grid {
  background: url('/../../public/control_center/images/button-grid.png?1292674399');
  background-repeat: no-repeat;
  height: 26px;
  width: 26px;
  text-indent: -9999px;
  display: block;
}

/* line 170, ../../../app/stylesheets/application.sass */
#file-list {
  width: 260px;
  float: right;
  padding: 0 0 0 20px;
  margin-bottom: 20px;
  text-shadow: white 0px 1px 0px;
  position: relative;
}
/* line 178, ../../../app/stylesheets/application.sass */
#file-list h3 {
  line-height: 1;
  font-size: 13px;
  margin-bottom: 10px;
  position: relative;
  background: #ebebeb;
  padding: 6px 10px;
  text-shadow: white 0px 1px 0px;
}
/* line 186, ../../../app/stylesheets/application.sass */
#file-list a.organize {
  font-size: 12px;
  font-weight: 600;
  line-height: 25px;
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  color: #999999;
}
/* line 195, ../../../app/stylesheets/application.sass */
#file-list a.sort-path {
  display: none;
}
/* line 197, ../../../app/stylesheets/application.sass */
#file-list ul {
  list-style-position: inside;
  margin-bottom: 20px;
}
/* line 200, ../../../app/stylesheets/application.sass */
#file-list ul li {
  font-size: 12px;
  line-height: 1;
  height: 12px;
  list-style-type: square;
  padding: 8px 10px;
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
  *zoom: 1;
}
/* line 208, ../../../app/stylesheets/application.sass */
#file-list ul li a {
  font-size: 12px;
}
/* line 210, ../../../app/stylesheets/application.sass */
#file-list ul li .right {
  float: right;
  height: inherit;
  overflow: hidden;
  *zoom: 1;
}
/* line 214, ../../../app/stylesheets/application.sass */
#file-list ul li .right div, #file-list ul li .right a {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  display: block;
  text-indent: -9999px;
  float: left;
}
/* line 221, ../../../app/stylesheets/application.sass */
#file-list ul li .right .check {
  background: url('/../../public/control_center/images/glyph-small-check.png?1292674399');
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
}
/* line 223, ../../../app/stylesheets/application.sass */
#file-list ul li .right .activate {
  background: url('/../../public/control_center/images/glyph-small-check-alt.png?1292674399');
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
}
/* line 225, ../../../app/stylesheets/application.sass */
#file-list ul li .right .activate:hover {
  background: url('/../../public/control_center/images/glyph-small-check.png?1292674399');
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
}
/* line 227, ../../../app/stylesheets/application.sass */
#file-list ul li .right .handle {
  background: url('/../../public/control_center/images/glyph-small-handle.png?1292674399');
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
}
/* line 229, ../../../app/stylesheets/application.sass */
#file-list ul li .right .delete {
  background: url('/../../public/control_center/images/glyph-small-delete.png?1292674399');
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
}

/* line 232, ../../../app/stylesheets/application.sass */
.panels {
  margin-bottom: 30px;
}
/* line 234, ../../../app/stylesheets/application.sass */
.panels .panel {
  float: left;
  width: 31.25%;
  margin-right: 3.125%;
  font-size: 12px;
}
/* line 240, ../../../app/stylesheets/application.sass */
.panels .panel .graph {
  padding: 15px;
}
/* line 242, ../../../app/stylesheets/application.sass */
.panels .panel h3 {
  line-height: 1;
  border-bottom: 1px solid #858bad;
  padding: 10px;
  text-shadow: white 0px 1px 0px;
}
/* line 247, ../../../app/stylesheets/application.sass */
.panels .panel h3 span {
  font-size: 12px;
  margin-left: 2px;
  color: #999999;
  font-weight: 500;
}
/* line 253, ../../../app/stylesheets/application.sass */
.panels .panel h3 span.link a {
  font-size: 10px;
  line-height: 10px;
  float: right;
  display: block;
  border: 1px solid #999999;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 6px;
  font-weight: 600;
  -moz-box-shadow: 0px 1px 0px white;
  -webkit-box-shadow: 0px 1px 0px white;
  -o-box-shadow: 0px 1px 0px white;
  box-shadow: 0px 1px 0px white;
  margin-left: 8px;
  text-align: center;
  color: #666666;
  background: #e0e0e0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #d9d9d9));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #d9d9d9);
  background-image: -moz-linear-gradient(top, #f2f2f2, #d9d9d9);
  background-image: -o-linear-gradient(top, #f2f2f2, #d9d9d9);
  background-image: -ms-linear-gradient(top, #f2f2f2, #d9d9d9);
  background-image: linear-gradient(top, #f2f2f2, #d9d9d9);
}
/* line 268, ../../../app/stylesheets/application.sass */
.panels .panel h3 span.link a.active, .panels .panel h3 span.link a:active {
  color: #666666;
  border-color: gray;
  background: #d9d9d9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9d9d9), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(top, #d9d9d9, #f2f2f2);
  background-image: -moz-linear-gradient(top, #d9d9d9, #f2f2f2);
  background-image: -o-linear-gradient(top, #d9d9d9, #f2f2f2);
  background-image: -ms-linear-gradient(top, #d9d9d9, #f2f2f2);
  background-image: linear-gradient(top, #d9d9d9, #f2f2f2);
}
/* line 273, ../../../app/stylesheets/application.sass */
.panels .panel h3 span.link a:hover {
  text-decoration: none;
}
/* line 275, ../../../app/stylesheets/application.sass */
.panels .panel h3 span.timezone {
  font-size: 10px;
  line-height: 10px;
  float: right;
  display: block;
  border: 1px solid #b3b3b3;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 6px;
  font-weight: 600;
  -moz-box-shadow: 0px 1px 0px white;
  -webkit-box-shadow: 0px 1px 0px white;
  -o-box-shadow: 0px 1px 0px white;
  box-shadow: 0px 1px 0px white;
  margin-left: 8px;
  text-align: center;
  color: #999999;
}
/* line 288, ../../../app/stylesheets/application.sass */
.panels .panel p.big-number {
  font-size: 60px;
  text-align: center;
  height: 145px;
  line-height: 145px;
}
/* line 293, ../../../app/stylesheets/application.sass */
.panels .panel div.big-text {
  margin-top: 20px;
  width: 300px;
  float: left;
  margin-right: 30px;
}
/* line 298, ../../../app/stylesheets/application.sass */
.panels .panel div.big-text p {
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 1;
  padding: 0 8px;
}
/* line 304, ../../../app/stylesheets/application.sass */
.panels .panel div.big-text p span.primary {
  font-size: 32px;
}
/* line 306, ../../../app/stylesheets/application.sass */
.panels .panel div.big-text p span.slash {
  font-size: 32px;
  font-weight: 200;
  margin: 0 10px;
}
/* line 310, ../../../app/stylesheets/application.sass */
.panels .panel div.big-text p span.secondary {
  font-size: 32px;
}
/* line 312, ../../../app/stylesheets/application.sass */
.panels .panel div.big-text p.label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  margin-top: 8px;
}
/* line 318, ../../../app/stylesheets/application.sass */
.panels .panel div.big-text p.label.last {
  margin-bottom: 0;
}
/* line 320, ../../../app/stylesheets/application.sass */
.panels .panel div.big-text.edge {
  margin-right: 0;
}
/* line 322, ../../../app/stylesheets/application.sass */
.panels .panel ul {
  width: 100%;
}
/* line 324, ../../../app/stylesheets/application.sass */
.panels .panel ul li {
  padding: 6px 10px;
  line-height: normal;
  border-bottom: 1px solid #dadce7;
  position: relative;
  list-style: none;
  overflow: hidden;
}
/* line 331, ../../../app/stylesheets/application.sass */
.panels .panel ul li a, .panels .panel ul li p {
  font-size: 12px;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('/../../public/control_center/xml/ellipsis.xml#ellipsis');
  -moz-binding: url("/control_center/stylesheets/xml/ellipsis.xml#ellipsis");
  display: block;
  width: 100%;
}
/* line 339, ../../../app/stylesheets/application.sass */
.panels .panel ul li p.right {
  position: absolute;
  top: 6px;
  right: 10px;
  padding-left: 10px;
  background: white;
  width: auto;
}
/* line 347, ../../../app/stylesheets/application.sass */
.panels .panel.wide {
  width: auto;
  margin-right: 0;
  float: none;
}
/* line 351, ../../../app/stylesheets/application.sass */
.panels .edge {
  margin-right: 0px;
}
/* line 353, ../../../app/stylesheets/application.sass */
.panels ul.historical-visits {
  list-style-type: none;
  border: none;
}
/* line 356, ../../../app/stylesheets/application.sass */
.panels ul.historical-visits li {
  float: right;
  width: 40px;
  padding: 0;
  margin: 0;
  height: 142px;
  border: none;
}
/* line 363, ../../../app/stylesheets/application.sass */
.panels ul.historical-visits li div.count {
  height: 120px;
  position: relative;
}
/* line 366, ../../../app/stylesheets/application.sass */
.panels ul.historical-visits li div.total, .panels ul.historical-visits li div.unique {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* line 371, ../../../app/stylesheets/application.sass */
.panels ul.historical-visits li div.total {
  background: #43d166;
  z-index: 10;
}
/* line 374, ../../../app/stylesheets/application.sass */
.panels ul.historical-visits li div.unique {
  background: #9aeeb0;
  z-index: 11;
}
/* line 377, ../../../app/stylesheets/application.sass */
.panels ul.historical-visits li p {
  margin-top: 8px;
  height: 14px;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
}

/* line 386, ../../../app/stylesheets/application.sass */
.qtip-content {
  font-size: 13px;
  color: #333333;
  background: white;
}

/* line 393, ../../../app/stylesheets/application.sass */
.qtip-wrapper {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
}

/* line 398, ../../../app/stylesheets/application.sass */
#text-editor {
  min-height: 400px;
  line-height: normal;
  position: relative;
}

/* line 403, ../../../app/stylesheets/application.sass */
.ace_scroller {
  overflow-x: auto !important;
}

/* line 406, ../../../app/stylesheets/application.sass */
.ace_sb {
  height: 100% !important;
  width: 30px !important;
}

/* line 410, ../../../app/stylesheets/application.sass */
#file-manager {
  float: right;
  width: 25%;
}
/* line 413, ../../../app/stylesheets/application.sass */
#file-manager div.thick-border {
  margin-left: 30px;
}
/* line 415, ../../../app/stylesheets/application.sass */
#file-manager div.border {
  padding: 20px;
}
/* line 417, ../../../app/stylesheets/application.sass */
#file-manager h3 {
  margin-top: 20px;
}
/* line 419, ../../../app/stylesheets/application.sass */
#file-manager h3 a {
  font-size: 12px;
  margin-right: 4px;
  color: #858bad;
  font-weight: normal;
}
/* line 424, ../../../app/stylesheets/application.sass */
#file-manager ul {
  list-style-type: none;
}
/* line 426, ../../../app/stylesheets/application.sass */
#file-manager ul li {
  font-size: 12px;
  margin-top: 10px;
}
/* line 429, ../../../app/stylesheets/application.sass */
#file-manager ul li a {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  color: #858bad;
  margin-right: 4px;
}
/* line 433, ../../../app/stylesheets/application.sass */
#file-manager ul li a.filename {
  color: #141f52;
}

/* line 436, ../../../app/stylesheets/application.sass */
form.with-text-editor {
  float: left;
  width: 75%;
}
/* line 439, ../../../app/stylesheets/application.sass */
form.with-text-editor.wide {
  width: 100%;
}
/* line 442, ../../../app/stylesheets/application.sass */
form.with-text-editor .thick-border .border {
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px inset;
  padding: 10px;
}

/* line 447, ../../../app/stylesheets/application.sass */
.tickLabel {
  font-size: 12px;
}
