/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 12, ../../../app/stylesheets/partials/_base.sass */
.upcase {
  text-transform: uppercase;
}

/* line 15, ../../../app/stylesheets/partials/_base.sass */
.center {
  text-align: center;
}

/* line 18, ../../../app/stylesheets/partials/_base.sass */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 21, ../../../app/stylesheets/partials/_base.sass */
.clear {
  clear: both;
}

/* line 24, ../../../app/stylesheets/partials/_base.sass */
.hide {
  display: none;
}

/* line 27, ../../../app/stylesheets/partials/_base.sass */
.cursor-move {
  cursor: move;
}

/* line 1, ../../../app/stylesheets/partials/_form.sass */
form {
  padding-bottom: 30px;
  overflow: hidden;
  *zoom: 1;
}
/* line 4, ../../../app/stylesheets/partials/_form.sass */
form .field {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 16px;
}
/* line 7, ../../../app/stylesheets/partials/_form.sass */
form span.align {
  line-height: 30px;
  font-size: 12px;
  vertical-align: middle;
  visibility: hidden;
}
/* line 12, ../../../app/stylesheets/partials/_form.sass */
form .actions {
  margin-left: 120px;
}
/* line 14, ../../../app/stylesheets/partials/_form.sass */
form .actions a {
  font-size: 13px;
}
/* line 16, ../../../app/stylesheets/partials/_form.sass */
form label {
  font-size: 13px;
  float: left;
  width: 120px;
  display: block;
  font-weight: 400;
  line-height: 27px;
}
/* line 23, ../../../app/stylesheets/partials/_form.sass */
form label.blank {
  text-indent: -9999px;
  font-size: 14px;
  line-height: normal;
}
/* line 27, ../../../app/stylesheets/partials/_form.sass */
form label.inline {
  font-size: 13px;
  width: auto;
  float: none;
  display: inline;
  line-height: normal;
  vertical-align: middle;
}
/* line 34, ../../../app/stylesheets/partials/_form.sass */
form input[type=text], form input[type=password], form textarea {
  border: 1px solid #b3b3b3;
  font: normal 13px/normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 15px;
  padding: 5px 6px;
  color: #333333;
  min-width: 400px;
}
/* line 41, ../../../app/stylesheets/partials/_form.sass */
form input[type=checkbox], form input[type=radio] {
  margin: 0 3px 0 0;
  padding: 0;
  vertical-align: middle;
}
/* line 45, ../../../app/stylesheets/partials/_form.sass */
form input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
  outline: 0;
  border: 1px solid #666666;
}
/* line 48, ../../../app/stylesheets/partials/_form.sass */
form textarea {
  height: 48px;
}
/* line 50, ../../../app/stylesheets/partials/_form.sass */
form #errorExplanation ul {
  margin: 10px 0 16px 12px;
}
/* line 52, ../../../app/stylesheets/partials/_form.sass */
form #errorExplanation ul li {
  font-size: 12px;
  list-style-position: inside;
  line-height: 18px;
  color: #f12d40;
}

/* line 59, ../../../app/stylesheets/partials/_form.sass */
.wf-active form input[type=text], .wf-active form input[type=password], .wf-active form textarea {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 62, ../../../app/stylesheets/partials/_form.sass */
form.edit_child {
  width: 60%;
}

/* line 15, ../../../app/stylesheets/application.sass */
html {
  overflow-y: scroll;
}

/* line 18, ../../../app/stylesheets/application.sass */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333333;
  min-width: 820px;
  text-rendering: optimizeLegibility;
}

/* line 26, ../../../app/stylesheets/application.sass */
.wf-active body {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 29, ../../../app/stylesheets/application.sass */
h1 {
  font-size: 24px;
}

/* line 32, ../../../app/stylesheets/application.sass */
h2 {
  font: 20px/normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-bottom: 30px;
}

/* line 37, ../../../app/stylesheets/application.sass */
.wf-active h2 {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

/* line 41, ../../../app/stylesheets/application.sass */
h3 {
  font: 16px/normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

/* line 45, ../../../app/stylesheets/application.sass */
.wf-active h3 {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

/* line 49, ../../../app/stylesheets/application.sass */
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/* line 53, ../../../app/stylesheets/application.sass */
.wf-active p {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 56, ../../../app/stylesheets/application.sass */
a {
  color: #333333;
  text-decoration: none;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: #333333;
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: #333333;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: #333333;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #333333;
}
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/* line 61, ../../../app/stylesheets/application.sass */
.controlcenter a {
  outline: none;
}

/* line 64, ../../../app/stylesheets/application.sass */
a.inactive {
  color: #999999;
  text-decoration: none;
}

/* line 68, ../../../app/stylesheets/application.sass */
img.visit-recorder {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 73, ../../../app/stylesheets/application.sass */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 76, ../../../app/stylesheets/application.sass */
.center {
  text-align: center;
}

/* line 79, ../../../app/stylesheets/application.sass */
a.link-button {
  font-size: 13px;
  text-decoration: none;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  border: 1px solid #999999;
  padding: 4px 10px;
  font-weight: 500;
  width: auto;
  min-width: 80px;
  max-width: 140px;
}
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
a.link-button:hover {
  text-decoration: underline;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
a.link-button {
  *display: inline;
}

/* line 90, ../../../app/stylesheets/application.sass */
a.link-button:hover {
  background: #f0f0f0;
  text-decoration: none;
}

/* line 96, ../../../app/stylesheets/application.sass */
header {
  width: 760px;
  display: block;
  border-bottom: 1px solid #cccccc;
  margin: 30px auto 0 auto;
  position: relative;
}
/* line 102, ../../../app/stylesheets/application.sass */
header h1 {
  padding-bottom: 15px;
  height: 25px;
  font-weight: 600;
}
/* line 106, ../../../app/stylesheets/application.sass */
header h1 a {
  font-size: 22px;
  line-height: 25px;
  display: block;
  overflow: hidden;
  *zoom: 1;
}
/* line 111, ../../../app/stylesheets/application.sass */
header h1 a:hover {
  text-decoration: none;
}
/* line 113, ../../../app/stylesheets/application.sass */
header h1 span {
  float: left;
}
/* line 115, ../../../app/stylesheets/application.sass */
header h1 span.application-name {
  font-weight: 300;
  margin-left: 14px;
}
/* line 118, ../../../app/stylesheets/application.sass */
header h1 img {
  display: block;
}
/* line 121, ../../../app/stylesheets/application.sass */
header nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  position: absolute;
  top: 5px;
  font-size: 13px;
}
/* line 56, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
header nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
header nav ul li:first-child, header nav ul li.first {
  padding-left: 0;
}
/* line 46, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
header nav ul li:last-child, header nav ul li.last {
  padding-right: 0;
}
/* line 126, ../../../app/stylesheets/application.sass */
header nav ul li a {
  line-height: 15px;
  text-decoration: none;
}
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
header nav ul li a:hover {
  text-decoration: underline;
}
/* line 129, ../../../app/stylesheets/application.sass */
header nav ul.left {
  left: 0;
}
/* line 131, ../../../app/stylesheets/application.sass */
header nav ul.right {
  top: 5px;
  right: 0;
}
/* line 134, ../../../app/stylesheets/application.sass */
header form {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 138, ../../../app/stylesheets/application.sass */
header input#keyword {
  background: url('/../../public/control_center/images/magnifying-glass.png?1292674399');
  background-repeat: no-repeat;
  height: 13px;
  width: 13px;
  background-position: 6px 5px;
  border: 1px solid #b3b3b3;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  -o-border-radius: 60px;
  -ms-border-radius: 60px;
  -khtml-border-radius: 60px;
  border-radius: 60px;
  -webkit-appearance: none;
  min-width: 120px;
  width: 120px;
  height: 15px;
  padding: 4px 12px 4px 24px;
  font-size: 12px;
  line-height: 15px;
  color: #999999;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
}
/* line 153, ../../../app/stylesheets/application.sass */
header input#keyword:focus {
  color: #333333;
}

/* line 156, ../../../app/stylesheets/application.sass */
.wf-active header input#keyword {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 160, ../../../app/stylesheets/application.sass */
body header, body section.content, body footer {
  width: 760px;
}

/* line 164, ../../../app/stylesheets/application.sass */
body.controlcenter header, body.controlcenter section.content, body.controlcenter footer {
  width: 960px;
}

/* line 169, ../../../app/stylesheets/application.sass */
section.content {
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  text-align: left;
}
/* line 174, ../../../app/stylesheets/application.sass */
section.content div.parent-header {
  height: 24px;
  width: 100%;
  position: relative;
}
/* line 178, ../../../app/stylesheets/application.sass */
section.content div.parent-header h2 {
  line-height: 24px;
  display: inline;
  margin-bottom: 0;
}
/* line 182, ../../../app/stylesheets/application.sass */
section.content div.parent-header p.description {
  font-size: 12px;
  display: inline;
  margin-left: 6px;
  color: #999999;
}
/* line 187, ../../../app/stylesheets/application.sass */
section.content div.parent-header p.counter {
  font: italic 18px/24px Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  float: right;
}

/* line 191, ../../../app/stylesheets/application.sass */
section#article {
  width: 774px;
}

/* line 194, ../../../app/stylesheets/application.sass */
.wf-active ul.search-result div.text p.date {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 197, ../../../app/stylesheets/application.sass */
.boxshadow ul.search-result {
  padding-bottom: 0;
}
/* line 199, ../../../app/stylesheets/application.sass */
.boxshadow ul.search-result li.child {
  margin-top: 0;
  margin-bottom: 30px;
}
/* line 202, ../../../app/stylesheets/application.sass */
.boxshadow ul.search-result div.text {
  margin-top: 0;
}

/* line 207, ../../../app/stylesheets/application.sass */
footer {
  color: #333333;
  margin: 0px auto 30px auto;
  width: 760px;
  display: block;
  font-size: 12px;
  border-top: 1px solid #cccccc;
}
/* line 214, ../../../app/stylesheets/application.sass */
footer p {
  text-align: center;
  margin: 15px 0 0 0;
}

/* line 218, ../../../app/stylesheets/application.sass */
body.controlcenter footer {
  width: 960px;
}

/* line 223, ../../../app/stylesheets/application.sass */
a.prev {
  background: url('/../../public/control_center/images/button-prev.png?1292674399');
  background-repeat: no-repeat;
  height: 26px;
  width: 26px;
  text-indent: -9999px;
  display: block;
}

/* line 228, ../../../app/stylesheets/application.sass */
a.prev.disabled {
  background: url('/../../public/control_center/images/button-prev-disabled.png?1292674399');
  background-repeat: no-repeat;
  height: 26px;
  width: 26px;
}

/* line 231, ../../../app/stylesheets/application.sass */
a.next {
  background: url('/../../public/control_center/images/button-next.png?1292674399');
  background-repeat: no-repeat;
  height: 26px;
  width: 26px;
  text-indent: -9999px;
  display: block;
}

/* line 236, ../../../app/stylesheets/application.sass */
a.next.disabled {
  background: url('/../../public/control_center/images/button-next-disabled.png?1292674399');
  background-repeat: no-repeat;
  height: 26px;
  width: 26px;
}

/* line 239, ../../../app/stylesheets/application.sass */
a.grid {
  background: url('/../../public/control_center/images/button-grid.png?1292674399');
  background-repeat: no-repeat;
  height: 26px;
  width: 26px;
  text-indent: -9999px;
  display: block;
}

/* line 244, ../../../app/stylesheets/application.sass */
#file-list {
  width: 260px;
  float: right;
  padding: 0 0 0 20px;
  margin-bottom: 20px;
  text-shadow: white 0px 1px 0px;
  position: relative;
}
/* line 252, ../../../app/stylesheets/application.sass */
#file-list h3 {
  line-height: 1;
  font-size: 13px;
  margin-bottom: 10px;
  position: relative;
  background: #ebebeb;
  padding: 6px 10px;
  text-shadow: white 0px 1px 0px;
}
/* line 260, ../../../app/stylesheets/application.sass */
#file-list a.organize {
  font-size: 12px;
  font-weight: 600;
  line-height: 25px;
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  color: #999999;
}
/* line 269, ../../../app/stylesheets/application.sass */
#file-list a.sort-path {
  display: none;
}
/* line 271, ../../../app/stylesheets/application.sass */
#file-list ul {
  list-style-position: inside;
  margin-bottom: 20px;
}
/* line 274, ../../../app/stylesheets/application.sass */
#file-list ul li {
  font-size: 12px;
  line-height: 1;
  height: 12px;
  list-style-type: square;
  padding: 8px 10px;
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
  *zoom: 1;
}
/* line 282, ../../../app/stylesheets/application.sass */
#file-list ul li a {
  font-size: 12px;
}
/* line 284, ../../../app/stylesheets/application.sass */
#file-list ul li .right {
  float: right;
  height: inherit;
  overflow: hidden;
  *zoom: 1;
}
/* line 288, ../../../app/stylesheets/application.sass */
#file-list ul li .right div, #file-list ul li .right a {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  display: block;
  text-indent: -9999px;
  float: left;
}
/* line 295, ../../../app/stylesheets/application.sass */
#file-list ul li .right .check {
  background: url('/../../public/control_center/images/glyph-small-check.png?1292674399');
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
}
/* line 297, ../../../app/stylesheets/application.sass */
#file-list ul li .right .activate {
  background: url('/../../public/control_center/images/glyph-small-check-alt.png?1292674399');
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
}
/* line 299, ../../../app/stylesheets/application.sass */
#file-list ul li .right .activate:hover {
  background: url('/../../public/control_center/images/glyph-small-check.png?1292674399');
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
}
/* line 301, ../../../app/stylesheets/application.sass */
#file-list ul li .right .handle {
  background: url('/../../public/control_center/images/glyph-small-handle.png?1292674399');
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
}
/* line 303, ../../../app/stylesheets/application.sass */
#file-list ul li .right .delete {
  background: url('/../../public/control_center/images/glyph-small-delete.png?1292674399');
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
}

/* line 307, ../../../app/stylesheets/application.sass */
.panels .panel {
  float: left;
  width: 300px;
  margin-right: 30px;
  margin-bottom: 30px;
  font-size: 12px;
}
/* line 313, ../../../app/stylesheets/application.sass */
.panels .panel h3 {
  margin-bottom: 10px;
  line-height: 1;
  background: #ebebeb;
  padding: 6px 10px;
  text-shadow: white 0px 1px 0px;
}
/* line 319, ../../../app/stylesheets/application.sass */
.panels .panel h3 span {
  font-size: 12px;
  margin-left: 2px;
  color: #999999;
  font-weight: 500;
}
/* line 325, ../../../app/stylesheets/application.sass */
.panels .panel h3 span.link a {
  font-size: 10px;
  line-height: 10px;
  float: right;
  display: block;
  border: 1px solid #999999;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 6px;
  font-weight: 600;
  -moz-box-shadow: white 0px 1px 0px 0;
  -webkit-box-shadow: white 0px 1px 0px 0;
  -o-box-shadow: white 0px 1px 0px 0;
  box-shadow: white 0px 1px 0px 0;
  margin-left: 8px;
  text-align: center;
  color: #666666;
  background: #e0e0e0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #d9d9d9));
  background-image: -moz-linear-gradient(top, #f2f2f2 0%, #d9d9d9 100%);
  background-image: linear-gradient(top, #f2f2f2 0%, #d9d9d9 100%);
}
/* line 340, ../../../app/stylesheets/application.sass */
.panels .panel h3 span.link a.active, .panels .panel h3 span.link a:active {
  color: #666666;
  border-color: gray;
  background: #d9d9d9;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d9d9d9), color-stop(100%, #f2f2f2));
  background-image: -moz-linear-gradient(top, #d9d9d9 0%, #f2f2f2 100%);
  background-image: linear-gradient(top, #d9d9d9 0%, #f2f2f2 100%);
}
/* line 345, ../../../app/stylesheets/application.sass */
.panels .panel h3 span.link a:hover {
  text-decoration: none;
}
/* line 347, ../../../app/stylesheets/application.sass */
.panels .panel h3 span.timezone {
  font-size: 10px;
  line-height: 10px;
  float: right;
  display: block;
  border: 1px solid #b3b3b3;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 6px;
  font-weight: 600;
  -moz-box-shadow: white 0px 1px 0px 0;
  -webkit-box-shadow: white 0px 1px 0px 0;
  -o-box-shadow: white 0px 1px 0px 0;
  box-shadow: white 0px 1px 0px 0;
  margin-left: 8px;
  text-align: center;
  color: #999999;
}
/* line 360, ../../../app/stylesheets/application.sass */
.panels .panel div.big-text {
  margin-top: 20px;
  width: 300px;
  float: left;
  margin-right: 30px;
}
/* line 365, ../../../app/stylesheets/application.sass */
.panels .panel div.big-text p {
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 1;
  padding: 0 8px;
}
/* line 371, ../../../app/stylesheets/application.sass */
.panels .panel div.big-text p span.primary {
  font-size: 32px;
}
/* line 373, ../../../app/stylesheets/application.sass */
.panels .panel div.big-text p span.slash {
  font-size: 32px;
  font-weight: 200;
  margin: 0 10px;
}
/* line 377, ../../../app/stylesheets/application.sass */
.panels .panel div.big-text p span.secondary {
  font-size: 32px;
}
/* line 379, ../../../app/stylesheets/application.sass */
.panels .panel div.big-text p.label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  margin-top: 8px;
}
/* line 385, ../../../app/stylesheets/application.sass */
.panels .panel div.big-text p.label.last {
  margin-bottom: 0;
}
/* line 387, ../../../app/stylesheets/application.sass */
.panels .panel div.big-text.edge {
  margin-right: 0;
}
/* line 389, ../../../app/stylesheets/application.sass */
.panels .panel ul {
  width: 100%;
}
/* line 391, ../../../app/stylesheets/application.sass */
.panels .panel ul li {
  padding: 6px 0;
  margin: 0 10px;
  line-height: normal;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  list-style: none;
  overflow: hidden;
}
/* line 399, ../../../app/stylesheets/application.sass */
.panels .panel ul li a, .panels .panel ul li p {
  font-size: 12px;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('/../../public/control_center/xml/ellipsis.xml#ellipsis');
  -moz-binding: url("/control_center/stylesheets/xml/ellipsis.xml#ellipsis");
  display: block;
  width: 100%;
}
/* line 407, ../../../app/stylesheets/application.sass */
.panels .panel ul li p.right {
  position: absolute;
  top: 6px;
  right: 0;
  padding-left: 10px;
  background: white;
  width: auto;
}
/* line 415, ../../../app/stylesheets/application.sass */
.panels .panel.wide {
  width: 960px;
  margin-right: 0;
}
/* line 418, ../../../app/stylesheets/application.sass */
.panels .edge {
  margin-right: 0px;
}
/* line 420, ../../../app/stylesheets/application.sass */
.panels ul.historical-visits {
  list-style-type: none;
  border: none;
}
/* line 423, ../../../app/stylesheets/application.sass */
.panels ul.historical-visits li {
  float: right;
  width: 40px;
  padding: 0;
  margin: 0;
  height: 142px;
  border: none;
}
/* line 430, ../../../app/stylesheets/application.sass */
.panels ul.historical-visits li div.count {
  height: 120px;
  position: relative;
}
/* line 433, ../../../app/stylesheets/application.sass */
.panels ul.historical-visits li div.total, .panels ul.historical-visits li div.unique {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* line 438, ../../../app/stylesheets/application.sass */
.panels ul.historical-visits li div.total {
  background: #43d166;
  z-index: 10;
}
/* line 441, ../../../app/stylesheets/application.sass */
.panels ul.historical-visits li div.unique {
  background: #9aeeb0;
  z-index: 11;
}
/* line 444, ../../../app/stylesheets/application.sass */
.panels ul.historical-visits li p {
  margin-top: 8px;
  height: 14px;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
}

/* line 451, ../../../app/stylesheets/application.sass */
.qtip-content {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #333333;
  background: white;
}

/* line 459, ../../../app/stylesheets/application.sass */
.qtip-wrapper {
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0 1px 3px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 1px 3px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.75) 0 1px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.75) 0 1px 3px 0;
}

/* line 463, ../../../app/stylesheets/application.sass */
.wf-active .panels .panel div.big-text p {
  font-family: "proxima-nova-extra-condensed-1", "proxima-nova-extra-condensed-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
/* line 466, ../../../app/stylesheets/application.sass */
.wf-active .panels .panel div.big-text p.label {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

/* line 473, ../../../app/stylesheets/application.sass */
.wf-loading ul.squares-column li.parent h2,
.wf-loading ul.squares-column li.parent p,
.wf-loading #article-top h2,
.wf-loading #article-top p.extra-info,
.wf-loading header nav ul li a,
.wf-loading footer p,
.wf-loading ul.squares h2,
.wf-loading ul.squares p {
  visibility: hidden;
}
