/* line 34, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body {
  text-align: center;
}
/* line 44, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
* html body legend {
  margin: 0px -8px 16px 0;
  padding: 0;
}
/* line 48, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
html > body p code {
  *white-space: normal;
}

/* line 60, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
.container {
  text-align: left;
}

/* line 62, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
sup {
  vertical-align: text-top;
}

/* line 64, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
sub {
  vertical-align: text-bottom;
}

/* line 66, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
hr {
  margin: -8px auto 11px;
}

/* line 68, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 70, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
fieldset {
  padding-top: 0;
}

/* line 72, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
legend {
  margin-top: -0.2em;
  margin-bottom: 1em;
  margin-left: -0.5em;
}

/* line 76, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
fieldset, #IE8#HACK {
  padding-top: 1.4em;
}

/* line 77, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
legend, #IE8#HACK {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 78, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
textarea {
  overflow: auto;
}

/* line 80, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
label {
  position: relative;
  top: -0.25em;
}

/* line 84, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.text {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 88, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.text:focus {
  border: 1px solid #666666;
}
/* line 90, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.title {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 94, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.title:focus {
  border: 1px solid #666666;
}
/* line 96, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.checkbox {
  position: relative;
  top: 0.25em;
}
/* line 99, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.radio {
  position: relative;
  top: 0.25em;
}
/* line 102, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.button {
  position: relative;
  top: 0.25em;
}

/* line 105, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
textarea {
  margin: 0.5em 0;
}

/* line 107, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
select {
  margin: 0.5em 0;
}

/* line 109, ../../../../../../../Users/Steve/.rvm/gems/ruby-1.9.2-p180@steverandytantra/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
button {
  position: relative;
  top: 0.25em;
}
