- content_for :head_javascripts do
  /[if lte IE 8]
    = javascript_include_tag "concen/excanvas"

#content
  .panels
    .panel.wide
      .border
        %h3 Visits in Past 24 Hours
        .graph
          #recent-visits{:style => "width: 100%; height: 200px;"}

  .panels
    .panel.visits-1-hour
      .border
        %h3 Visits in Past Hour
        %p.big-number
    .panel.pages
      .border
        %h3 Pages
        %ul
    .panel.referrals.edge
      .border
        %h3 Referrals
        %ul
    .clear
